{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true,
    "protractor": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "always"],
    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": [2, "before"],
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "require-yield": 2,
    "eqeqeq": 2,
    "quotes": [2, "double", "avoid-escape"],
    "no-eval": 2,
    "no-eq-null": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-octal-escape": 2,
    "no-multi-str": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-with": 2,
    "wrap-iife": [2, "inside"],
    "init-declarations": [2, "always"],
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-use-before-define": 2,
    "no-process-exit": 2,
    "arrow-parens": [2, "always"]
  }
}
